# Gmu key mappings
# Required keys: Modifier, Up, 
# Down, Pause, ProgramInfo, Exit,
# PlaylistPlayItem, PlaylistClear,
# FileBrowserAddFileToPlaylistOrChDir
Modifier=L
# Global mappings:
Left=Left
Right=Right
Up=Up
Down=Down
PageDown=Mod+Down
IncreaseVolume=VolUp
DecreaseVolume=VolDown
#ToggleTime=Mod+VolDown
Pause=Start
Stop=X
ToggleView=Select
#PreviousTrack=L
NextTrack=R
SeekForward=Mod+R
SeekBackward=Mod+L
Lock=Mod+Select
Unlock=Mod+Select
Exit=Mod+Start
Help=Mod+VolDown
# Program info mappings:
ProgramInfo=Mod+A
ProgramInfoOkay=B
# File browser mappings:
#FileBrowserDirUp=Left
#FileBrowserChDir=Right

FileBrowserPlayFile=A
FileBrowserAddFileToPlaylistOrChDir=B
FileBrowserAddDirToPlaylist=Y
FileBrowserInsertFileIntoPlaylist=Mod+B
FileBrowserNewPlFromDir=Mod+Y
#FileBrowserDeleteFile=Mod+X
# Playlist mappings:
PlaylistPlayItem=B
PlaylistToggleRandomMode=A
PlaylistRemoveItem=Y
PlaylistClear=Mod+Y
PlaylistSave=Mod+B
# Playlist save dialog:
PlaylistSaveSelect=B
PlaylistSaveCancel=A
PlaylistSaveLoadList=Y
PlaylistSaveAppendList=Mod+Y
#PlaylistDeleteFile=Mod+X
PlaylistQueue=Mod+VolUp
# Track info mappings:
TrackInfoToggleCover=A
TrackInfoToggleText=B
# Question dialog mappings: 
QuestionYes=B
QuestionNo=A
# Setup mappings:
SetupSelect=B
SetupSaveAndExit=X
SetupSaveAndRunGmu=Y
SetupFileBrowserSelect=B
SetupFileBrowserChDir=A
SetupFileBrowserCancel=X
